<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("views.layouts.footer.about"), "#" %></li>
      <li><%= link_to t("views.layouts.footer.contact"), "#" %></li>
      <li><%= Date.today.year %></li>
    </ul>
  </nav>
</footer>
