<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("helpers.application_helper.title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("views.layouts.header.home"), "#" %></li>
        <li><%= link_to t("views.layouts.header.help"), "#" %></li>
        <li><%= link_to t("views.layouts.header.linklogin"),
          login_path %></li>
      </ul>
    </nav>
  </div>
</header>
